<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <ul class="people no-padding-start">                        
            <a href="#" class="room-chat" id="null-contact">
                <li class="person active" data-chat="person-default">               
                    <span class="name">Đơn Mua</span>            
                </li>
            </a>
            <a href="#" class="room-chat" id="null-contact">
                <li class="person active" data-chat="person-default">               
                    <span class="name">Đơn Mua</span>            
                </li>
            </a>
        </ul>
    </div>
</div>